@import "tailwindcss";

#root {
  color: white;
}

.embla {
  width: 100%;
  cursor: grab;
  margin-top: 4px;
}

.embla:active {
  cursor: grabbing;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 8px;
}

.embla__slide {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  width: 72px; /* 시간 카드 너비 */
}

.hour-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 4px;
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 0.08); */
}
